@theme inline {
    --color-primary: #0052B4;
    --color-secondary: #DC330F;
    --color-general-black: #040404;
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: var(--color-secondary);
}

::selection {
    color: #fff;
    background: var(--color-secondary);
}